
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card bg-light p-4">
        <h2 class="text-center mb-4">Find out the cancer type: Malignant or Benign</h2>
  <form [formGroup]="cancerFeatureForm">
    <div class="form-group">
      <label for="radius_worst" style="font-size: 17px"><b>Radius Worst</b></label>
      <input type="number" formControlName="radius_worst" step="0.01" class="form-control" id="radius_worst" name="radius_worst" placeholder="Enter the value" style="font-weight: bold" required="">
    </div>
    <div class="form-group">
      <label for="perimeter_worst" style="font-size: 17px"><b>Perimeter Worst</b></label>
      <input type="number" formControlName="perimeter_worst" step="0.01" class="form-control" id="perimeter_worst" name="perimeter_worst" placeholder="Enter the value" style="font-weight: bold" required="">
    </div>
    <div class="form-group">
      <label for="area_worst" style="font-size: 17px"><b>Area Worst</b></label>
      <input type="number" formControlName="area_worst" step="0.01" class="form-control" id="area_worst" name="area_worst" placeholder="Enter the value" style="font-weight: bold" required="">
    </div>
    <div class="form-group">
      <label for="perimeter_mean" style="font-size: 17px"><b>Perimeter Mean</b></label>
      <input type="number" formControlName="perimeter_mean" step="0.01" class="form-control" id="perimeter_mean" name="perimeter_mean" placeholder="Enter the value" style="font-weight: bold" required="">
    </div>
    <div class="form-group">
      <label for="radius_mean" style="font-size: 17px"><b>Radius Mean</b></label>
      <input type="number" formControlName="radius_mean" step="0.01" class="form-control" id="radius_mean" name="radius_mean" placeholder="Enter the value" style="font-weight: bold">
    </div>
    <div class="form-group">
      <label for="area_mean" style="font-size: 17px"><b>Area Mean</b></label>
      <input type="number" formControlName="area_mean" step="0.01" class="form-control" id="area_mean" name="area_mean" placeholder="Enter the value" style="font-weight: bold" required="">
    </div>
    <div class="form-group">
      <label for="concavity_worst" style="font-size: 17px"><b>Concavity Worst</b></label>
      <input type="number" formControlName="concavity_worst" step="0.01" class="form-control" id="concavity_worst" name="concavity_worst" placeholder="Enter the value" style="font-weight: bold" required="">
    </div>
    <div class="form-group">
      <label for="concavity_mean" style="font-size: 17px"><b>Concavity Mean</b></label>
      <input type="number" formControlName="concavity_mean" step="0.01" class="form-control" id="concavity_mean" name="concavity_mean" placeholder="Enter the value" style="font-weight: bold" required="">
    </div>
    <div class="form-group">
      <label for="concave_points_mean" style="font-size: 17px"><b>Concave Points Mean</b></label>
      <input type="number" formControlName="concave_points_mean" step="0.01" class="form-control" id="concave_points_mean" name="concave_points_mean" placeholder="Enter the value" style="font-weight: bold" required="">
    </div> 
     
      
      <div class="form-group">
        <label for="concave_points_worst" style="font-size: 17px"><b>Concave Point Worst</b></label>
        <input type="number" formControlName="concave_points_worst" step="0.01" class="form-control" id="concave_points_worst" name="concave_points_worst" placeholder="Enter the value" style="font-weight: bold" required="">
      </div>
     
     
      <div class="d-flex justify-content-center">
        <button (click)="predict()"  type="button" class="btn btn-info" style="color: black; font-weight: bold; width: 130px; height:50px; border-radius:12px; font-size: 21px;">
          Predict
        </button>
      </div>
      </form>
    </div>
  </div>
</div>
</div>
