<footer class="text-center py-5">
    <div class="container py-md-3">
        <!-- logo -->
        <h2 class="logo2 text-center">
            <a href="/">
                Harvestify
            </a>
        </h2>
        <!-- //logo -->
        <!-- address -->
        <div class="contact-left-footer mt-4">





            <!-- <a href="community.html">Community</a> -->
            <p></p>
        </div>
        <div class="w3l-copy text-center">
            <p class="text-da">An Environmental Intelligence Startup<br> </p>
        </div>
        <p class="homelogo">
        </p><p>Made with ❤️ by Atharva</p>
        <p>© Copyright 2021 Atharva Ingle</p>
        
    </div>
</footer>