/* styles.css */

/* Genel stil ayarları */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;

}

.container {
  max-width: 1200px;

  padding: 20px;
}

/* Navbar stilleri */
.navbar {
  background-color: #343a40 !important; /* Navbar arka plan rengi */
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.navbar-brand {
  font-size: 1.5rem; /* Navbar marka yazı boyutu */
}

.navbar-nav .nav-link {
  color: #fff; /* Navbar linklerin yazı rengi */
}

.navbar-nav .nav-link:hover {
  color: #ccc; /* Navbar linklerin hover durumunda yazı rengi */
}

/* Ana içerik stil ayarları */
.main-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Başlık stilleri */
.page-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Form stilleri */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

/* Buton stilleri */
.btn {
  display: inline-block;
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.btn:hover {
  background-color: #0056b3;
}

/* Tablo stilleri */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  border: 1px solid #dee2e6;
}

.table th {
  background-color: #007bff;
  color: #fff;
}

.table td {
  text-align: center;
}
