
<div class="container mt-5">
        <div class="jumbotron text-center">
          <h1 class="display-4">Tümör Tahmin Uygulaması</h1>
          <p class="lead">Bu uygulama, tıbbi verilere dayanarak kanser türünü (Malignant veya Benign) tahmin etmeye yardımcı olur.</p>
          <hr class="my-4">
          <p>Lütfen aşağıdaki formu doldurun ve tahmin butonuna tıklayın.</p>
          <!-- <button class="btn btn-primary btn-lg" (click)="goToForm()">Formu Doldur</button> -->
        </div>
</div>

